<div class="row">

    <div class="col-md-12">
        <h1> {{ product.name }} </h1>
    </div>

    <div class="col-md-6">

        <img style="width: 100%;" [src]="product.image" alt="">

    </div>
    <div class="col-md-6">

        <p class="product-price">
            {{product.price}}

        </p>
        <p class="product-desc">

            {{ product.desc }}
        </p>

    </div>



    <button (click)="addToCart()" class="mt-auto btn btn-success">Add to cart</button>
    <!-- <a type="button" class="mt-auto btn btn-primary  ">Add to cart</a> -->
</div>