<!-- <div class="card-deck justify-content-center">
    <div *ngFor="let prod of products" class="card  mr-2" style="width: 18rem;">
        <img [src]="prod.image" class="card-img-top" alt="...">
        <div class="card-body d-flex flex-column align-items-center">
            <h5 class="mt-auto card-title"> {{ prod.name }} </h5>
            <p class="mt-auto card-text"> {{ prod.price }} </p>
            <a href="#" class="mt-auto btn btn-primary  ">Add to cart</a>
        </div>
    </div>
</div> -->


<div class="row align-content-center justify-content-center ">

    <div *ngFor="let prod of products; let i=index" class="card mb-4 mr-4 ml-4 " style="width: 18rem;">
        <img style=" cursor: pointer;" (click)="seeProduct(i)" [src]="prod.image" class="card-img-top" alt="...">
        <div class="card-body">
            <h3 class="card-title"> {{ prod.name }} </h3>
            <h6 class="card-title"> {{ prod.category }} </h6>
            <p class="produc-price" style="font-weight: bold; color: lightslategray;" class="mt-auto card-text"> {{ prod.price }}$ </p>
            <!-- <a href="#" class="mt-auto btn btn-primary  ">Add to cart</a> -->
        </div>
    </div>

</div>